html, body {
               
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}


.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: black;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.kewl .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    background: url(https://cdn.hipwallpaper.com/i/23/37/BOMQXl.jpg);
    background-size: cover;

}
.heading h1{
    margin: 0;
    padding: 0;
    font-size: 120px;
    color: #fff;
}
